<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="utf-8">
<title>New Lugar</title>
</head>
<body style = "background-image: url('https://cdn2.unrealengine.com/fortnite-chapter-3-season-4-battle-pass-promo-footer-bg-desktop-1920x1228-6cbb08bfb7a1.png'); background-size: contain">
<div align="center">
	<h1 style="color:white; background:#000;">Enter New Lugar</h1>
	<br/>
	
	<form action="#" th:action="@{/saveLugar}" th:object="${lugar}" method="post">
			<table border="1" cellpadding="10" bgcolor="white">
				<tr>
					<td>Tipo:</td>
					<td><input type="text" th:field="*{tipo}"></td>
				</tr>
				<tr>
					<td>Nombre:</td>
					<td><input type="text" th:field="*{nombre}"></td>
				</tr>
				<tr>
					<td>Popularidad:</td>
					<td><input type="text" th:field="*{popularidad}"></td>
				</tr>
				<tr>
					<td colspan="2"><button type="submit">Save</button></td>
				</tr>	
			</table>
	</form>
</div>

</body>
</html>